.body {
  display: flex;
  max-width: 100vw;
  box-sizing: content-box;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  background-color: #000;
}

@import "scss/rates.scss";
@import "scss/channelAvailability.scss";
@import "scss/groupCalc.scss";